:root{
    --color-rose: #ff4e6a;
    --color-black: black;
    --color-grey: #9ba0a4;
    --color-white: white;
    --colo-light-grey: #fbfbfb;
}

/*General*/
input:focus{
    outline:none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

/* My Sidebar Styles*/
.sidebar{
    width: 260px;
    height: 100vh;
    background-color: var(--colo-light-grey);
    position: fixed;
}

.sidebar__logo{
    padding: 10px 28px;
    border-bottom: 1px solid #ccc;
}

.sidebar__logo h4{
    font-size: 27px;
    letter-spacing: 2px;
    font-weight: normal;
    margin-bottom: 22px;
    font-family: 'Cookie', cursive, sans-serif;
}

.info__user{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.user_circle{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 1.5px solid var(--color-rose);
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.white__circle{
    width: 65px;
    height: 65px;
    border: 2.8px solid var(--color-white);
    border-radius: 50%;
    background: url('../img/user.png') no-repeat;
    background-size: cover;
}

.info__user h5{
    font-size: 17px;
    margin-bottom: 6px;
}

.info__user p{
    color: var(--colo-grey);
    margin-bottom: 20px;
    font-size: 13px;
}

.follow{
    display: flex;
    margin-bottom: 15px;
}
.follow div{
    flex: 1;
    margin-right: 10px;
    text-align: center;
}

.follow div p{
    font-weight: bold;
    font-size: 13px;
}

.follow div span{
    color:  var(--color-grey);
}

.sidebar__menu{
    padding: 12px 28px;
}

.sidebar__menu ul li{
    list-style: none;
    padding: 10px 0;
    transition: all .3s;
}

.sidebar__menu ul li:hover{
    cursor: pointer;
}

.sidebar__menu ul li a{
    color: var(--color-grey);
    font-size: 16px;
    text-decoration: none;
}

.sidebar__menu ul li:hover a{
    color: var(--color-rose);
}

/* My Main*/
.main_contain{
    height: 100vh;
    background-color: var(--color-white);
    margin-left: 260px;
    padding: 0 60px;
}

/* My NavBar*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
    height: 80px;
}

nav input{
    width: 20%;
    padding: 8px;
    border-radius: 7px;
    border: 1px solid #ccc;
    display: inline-flex;
}

.nav_left{
    width: 260px;
    align-items: center;
    display: flex;
}

nav button{
    margin-right: 18px;
    padding: 8px 15px;
    background-color: var(--color-rose);
    color: var(--color-white);
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all .2s;
}

nav button:hover{
    background-color: rgb(180, 46, 46);
}

.nav__circle{
    display: inline-flex;
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 50%;
    background: url('../img/user.png') no-repeat;
    background-size: cover;
}

/* My featured */
.box{
    margin-top: 25px;
    display: flex;
}

/* Left part */
.left__part{
    flex: 2;
    margin-right: 20px;
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.title h1{
    font-size: 22px;
}

.title p{
    color: var(--color-grey);
    font-size: 18px;
    border: 1px solid var(--color-grey);
    border-radius: 7px;
    padding: 8px 18px;
    background-color: var(--colo-light-grey);
}

.card-items1{
    display: flex;
    margin: 30px 0;
}

.card-items1 .card1, .card-items1 .card2, .card-items1 .card3, .card-items1 .card4{
    flex: 1;
    height: 220px;
    border-radius: 7px;
    margin-right: 25px;
    box-shadow: 0 8px 8px var(--color-grey);
}

.card-items1 .card1{
    background: url('../img/1.jpg') no-repeat;
    background-size: cover;
}

.card-items1 .card2{
    background: url('../img/2.jpg') no-repeat;
    background-size: cover;
}

.card-items1 .card3{
    background: url('../img/3.jpg') no-repeat;
    background-size: cover;
}

.card-items1 .card4{
    background: url('../img/4.jpg') no-repeat;
    background: cover;
}

.card-items2{
    margin: 40px 0;
}

.card-row1, .card-row2{
    display: flex;
}

.card-row1{
    margin-bottom: 30px;
}

.card-row1 .card1, .card-row1 .card2, .card-row1 .card3{
    flex: 1;
    height: 220px;
    border-radius: 7px;
    margin-right: 25px;
    box-shadow: 0 8px 8px var(--color-grey);

}

.card-row1 .card1{
    background: url('../img/5.jpg') no-repeat;
    background-size: cover;
}

.card-row1 .card2{
    background: url('../img/6.jpg') no-repeat;
    background-size: cover;
}

.card-row1 .card3{
    background: url('../img/7.jpg') no-repeat;
    background-size: cover;
}

.card-row2 .card1, .card-row2 .card2, .card-row2 .card3{
    flex: 1;
    height: 170px;
    border-radius: 7px;
    margin-right: 25px;
    box-shadow: 0 8px 8px var(--color-grey);

}

.card-row2 .card1{
    background: url('../img/8.jpg') no-repeat;
    background-size: cover;
}
.card-row2 .card2{
    background: url('../img/9.jpg') no-repeat;
    background-size: cover;
}
.card-row2 .card3{
    background: url('../img/10.jpg') no-repeat;
    background-size: cover;
}
.right__Part{
    flex: 1;
    display: flex;
    justify-content: center;
}

.section{
    width: 270px;
}

.illustration{
    width: 220px;
    height: 270px;
    margin: 0 auto;
    border: none;
    border-radius: 8px;
    background: url('../img/user.png') no-repeat;
    background-size: cover;
    margin-bottom: 30px;
}

.name{
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
}


.follow p{
    flex: 1;
    margin: 10px 0;
    font-size: 17px;
    text-align: center;
}

.follow span{
    color: var(--color-grey);
}

.para{
    color: var(--color-grey);
    margin-bottom: 28px;
    line-height: 22px;
    font-size: 14px;
    text-align: center;
}

.para a{
    color: var(--color-black);
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
}

.info{
    margin-bottom: 40px;
}

.info h3{
    font-size: 18px;
    margin-bottom: 12px;
}

.info span{
    color: var(--color-grey);
    font-size: 18px;
}