:root{
    --color-rose: #ff4e6a;
    --color-black: black;
    --color-grey: grey;
    --color-white: white;
    --colo-light-grey: #ccc;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* My Sidebar Styles*/
.sidebar{
    width: 260px;
    height: 100vh;
    background-color: var(--colo-light-grey);
    position: fixed;
}

.sidebar__logo{
    padding: 28px;
    border-bottom: 1px solid var(--color-grey);
}

.sidebar__logo h4{
    font-size: 18px;
    margin-bottom: 15px;
}

.info__user{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.user_circle{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1.4px solid var(--color-rose);
    margin-bottom: 12px;
    background: url('../img/user.png') no-repeat;
    background-size: cover;
}

.info__user h5{
    font-size: 17px;
    margin-bottom: 7px;
}

.info__user p{
    color: var(--colo-grey);
    margin-bottom: 35px;
    font-size: 13px;
}

.follow{
    display: flex;
    margin-bottom: 20px;
}
.follow div{
    flex: 1;
    margin-right: 5px;
}

.follow div p{
    font-weight: bold;
    font-size: 13px;
}

.follow div span{
    color:  var(--color-grey);
}

.sidebar__menu{
    padding: 28px;
}

.sidebar__menu ul li{
    list-style: none;
    padding: 15px 0;
    margin-bottom: 8px;
    transition: all .3s;
}

.sidebar__menu ul li a{
    color: var(--color-grey);
    text-decoration: none;
}

.sidebar__menu ul li:hover a{
    color: var(--color-rose);
}

/* My Main*/
.main_contain{
    height: 100vh;
    background-color: var(--color-white);
    margin-left: 260px;
    padding: 0 60px;
}

/* My NavBar*/
nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}

nav input{
    width: 20%;
    padding: 12px 8px;
    border-radius: 7px;
    border: 1px solid var(--colo-light-grey);
}

nav button{
    padding: 10px 15px;
    background-color: var(--color-rose);
    color: var(--color-white);
    font-size: 18px;
    border: none;
    border-radius: 8px;
}

.nav__circle{
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 50%;
    background: url('../img/user.png') no-repeat;
    background-size: cover;
}

/* My featured */
.box{
    margin-top: 35px;
    display: flex;
}

.left__part{
    flex: 2;
}

.right__Part{
    flex: 1;
}

.card-items1{
    display: flex;
    margin: 30px 0;
}

.card-items1 .card1, .card-items1 .card2, .card-items1 .card3, .card-items1 .card4{
    flex: 1;
    height: 250px;
    border-radius: 7px;
    margin-right: 35px;
}

.card-items1 .card1{
    background: url('../img/1.jpg') no-repeat;
    background-size: cover;
}

.card-items1 .card2{
    background: url('../img/2.jpg') no-repeat;
    background-size: cover;
}

.card-items1 .card3{
    background: url('../img/3.jpg') no-repeat;
    background-size: cover;
}

.card-items1 .card4{
    background: url('../img/4.jpg') no-repeat;
    background: cover;
}

.card-items2{
    display: flex;
    margin: 30px 0;
    align-content: space-between;
}

.card-row1, .card-row2{
    display: flex;
    width: 100%;
}

.card-row1 .card1, .card-row1 .card2, .card-row1 .card3{
    flex: 1;
    height: 250px;
    border-radius: 7px;
    margin-right: 30px;
}

.card-row1 .card1{
    background: url('../img/5.jpg') no-repeat;
    background-size: cover;
}

.card-row1 .card2{
    background: url('../img/6.jpg') no-repeat;
    background-size: cover;
}

.card-row1 .card3{
    background: url('../img/7.jpg') no-repeat;
    background-size: cover;
}

.card-row2 .card1, .card-row2 .card2, .card-row2 .card3{
    flex: 1;
    height: 250px;
    border-radius: 7px;
    margin-right: 30px;
}

.card-row2 .card1{
    background: url('../img/8.jpg') no-repeat;
    background-size: cover;
}
.card-row2 .card2{
    background: url('../img/9.jpg') no-repeat;
    background-size: cover;
}
.card-row2 .card3{
    background: url('../img/10.jpg') no-repeat;
    background-size: cover;
}